<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ver Compras</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Incluir el fragmento navbar -->
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container mt-5">
        <h1 class="mb-4">Pedidos</h1>

        <!-- Mostrar mensaje si la lista está vacía -->
        <div th:if="${pedidos.empty}" class="alert alert-info" role="alert">
            No hay compras registradas.
        </div>

        <!-- Tabla de compras -->
        <table th:if="${!pedidos.empty}" class="table table-bordered">
            <thead>
                <tr>
                    <th>Compra</th>
                    <th>Total</th>
                    <th>Costo Envío</th>
                    <th>Días de Espera</th>
                    <th>Fecha de Llegada</th>
                    <th>Detalles</th>
                    <th>Medio de Pago</th>
                    <th>Sucursal</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="compra : ${pedidos}">
                    <td th:text="${compra}">ID de la compra</td>
                    <td th:text="${compra.total}">Total de la compra</td>
                    <td th:text="${compra.costoEnvio}">Costo envio de la compra</td>
                    <td th:text="${compra.diasDeEspera}">Dias espera de la compra</td>
                    <td th:text="${compra.fechaLlegada}">Fecha llegada de la compra</td>
                    <td>
                        <div th:each="detalle : ${compra.detalles}">
                            <p
                                th:text="'Producto: ' + ${detalle.producto} + ' x ' + ${detalle.cantidad} + ' Envío: ' + ${detalle.medioDeEnvio}">
                            </p>
                        </div>
                    </td>

                    <td th:text="${compra.medioDePago.nombre}">Medio de pago</td>
                    <td th:text="${compra.sucursal.direccion}">Sucursal</td>
                </tr>
            </tbody>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>